.top-buffer-10 { margin-top:10px; }
.top-buffer-20 { margin-top:20px; }
.top-buffer-30 { margin-top:30px; }
.top-buffer-40 { margin-top:40px; }

.bot-buffer-20 { margin-bottom:20px; }
.bot-buffer-30 { margin-bottom:30px; }
.bot-buffer-40 { margin-bottom:40px; }
.bot-buffer-50 { margin-bottom:50px; }
.bot-buffer-60 { margin-bottom:60px; }
.bot-buffer-70 { margin-bottom:70px; }
.bot-buffer-80 { margin-bottom:80px; }
.bot-buffer-90 { margin-bottom:90px; }
.bot-buffer-100 { margin-bottom:100px; }

.performance-facts {
    border: 1px solid black;
    margin: 20px auto;
    width: 280px;;
    padding: 0.5rem;
    color: #000;
    font-family: Roboto;
}
.performance-facts table {
    border-collapse: unset;
    border-spacing: 0;
}

.performance-facts__title {
    font-weight: bold;
    font-size: 38px;
    margin: 0 0 0.25rem 0;
}

.performance-facts__header {
    border-bottom: 10px solid black;
    padding: 0 0 0.25rem 0;
    margin: 0 0 0.5rem 0;
}
.performance-facts__header p {
    margin: 0;
    font-size: 18px;
    display: none;
}

.performance-facts__table, .performance-facts__table--small, .performance-facts__table--grid {
    width: 100%;
}
.performance-facts__table thead tr th, .performance-facts__table--small thead tr th, .performance-facts__table--grid thead tr th, .performance-facts__table thead tr td, .performance-facts__table--small thead tr td, .performance-facts__table--grid thead tr td {
    border: 0;
}
.performance-facts__table th, .performance-facts__table--small th, .performance-facts__table--grid th, .performance-facts__table td, .performance-facts__table--small td, .performance-facts__table--grid td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
}
.performance-facts__table td:last-child, .performance-facts__table--small td:last-child, .performance-facts__table--grid td:last-child {
    text-align: right;
}
.performance-facts__table .blank-cell, .performance-facts__table--small .blank-cell, .performance-facts__table--grid .blank-cell {
    width: 1rem;
    border-top: 0;
}
.performance-facts__table .thick-row th, .performance-facts__table--small .thick-row th, .performance-facts__table--grid .thick-row th, .performance-facts__table .thick-row td, .performance-facts__table--small .thick-row td, .performance-facts__table--grid .thick-row td {
    border-top-width: 5px;
}

.small-info {
    font-size: 11px;
}

.performance-facts__table--small {
    border-bottom: 1px solid #999;
    margin: 0 0 0.5rem 0;
}
.performance-facts__table--small thead tr {
    border-bottom: 1px solid black;
}
.performance-facts__table--small td:last-child {
    text-align: left;
}
.performance-facts__table--small th, .performance-facts__table--small td {
    border: 0;
    padding: 0;
}

.performance-facts__table--grid {
    margin: 0 0 0.5rem 0;
}
.performance-facts__table--grid td:last-child {
    text-align: right;
}
.performance-facts__table--grid td:last-child::before {
    font-weight: bold;
    margin: 0 0.25rem 0 0;
}
.performance-facts__table #lkcal-val {
    font-size: 35px;
    font-weight: bold;
    font-family: Roboto;
    border: 0 none;
}
.performance-facts__table #lkcal-val-cal {
    font-size: 35px;
    border: 0 none !important;
}
.performance-facts__table .amps{
    font-size: 16px;
    font-weight: bold !important;
    margin: 0 -200px -10px 0 !important;
    display: block;
}
.performance-facts__table .nob {
    border:0 none !important;
}
